<!DOCTYPE html>
<html lang="en" >
<head>
    <style> h2 {
        border-style: solid;
        width: 453px;
    }</style>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h2>
           <p style = "font-size: 20px; font-weight: bold;">
                {{ restaurant.get('name') }}</p>
           <img src="{{ restaurant.get('image_url') }}" 
           width = "450"
           height = "350">

           <p style = "font-size: 20px; font-weight: normal;"> 
            {{ restaurant.get('display_address') }} </p>
           <p>     
           </p>
           <p style = "font-size: 20px; font-weight: normal;">
            Price: <strong>{{restaurant.get('price') }}</strong></p> 
           <hr>
           <p style = "font-size: 20px; font-weight: normal;">
            Rating: <strong>{{restaurant.get('rating') }}</strong></p>
           <hr>
           <p style = "font-size: 20px; font-weight: normal;">
            # Reviews: <strong>{{restaurant.get('review_count') }}</strong></p>
           <hr>

        </h2>
    </main>
</body>
</html>

